
        <div class="row">
          <div class="col-md-6 col-md-offset-3 post_image_form">
            <div class="section-title-wrapper style-1 v1">
              <h3 class="section-title section-title-sm left">
                <span>デッキ投稿フォーム</span>
              </h3>
            </div>

            <form class="mt-20">
              <div class="row">
                <div class="col-sm-12">
                  <input type="file">
                </div>
              </div><br>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group has-icon">
                    <label class="control-label sr-only">デッキ名</label>
                    <input type="text" class="form-control" id="デッキ名" placeholder="デッキ名">
                    <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <textarea class="form-control" rows="3" placeholder="デッキの説明"></textarea>
                </div>
              </div>

              <hr>



              <button type="submit" class="btn btn-lg btn-block btn-base-1 mt-20">デッキ投稿</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>